[2021-08-26 02:08] calewis opened #709 "Cmake doesn't configure the sstsimulator.conf correctly"
There is probably more than one bug in this file, but the one that triggered this issue is that
[code]
evaluates to `-l` on Mac, causing the linking of elements to fail.

[2021-08-26 02:44] calewis opened #710 "CMake build should block in source builds"
Title is self explanatory.

[2021-08-26 02:49] calewis opened #711 "CMake build should error if autotools build artifacts are present"
We are making the decision that the same directory shouldn't be used for cmake and autotools builds, since there may be issues with the fact that the autotools build puts files like `sst_config.h` in the source directory and we might include those folders leading to header mismatches.

git worktree is a nice way to have separate branches in separate folders, but this will make it slightly painful

[2021-08-26 23:10] calewis opened #713 "Clang-format issues with <> includes"
In some files we found that if you do something similar to

[code]

the formatter doesn't like this and expects sst headers to be in `""` apparently.

[2021-08-27 13:32] #707 closed, assigned to calewis

[2021-08-27 13:34] #705 closed, assigned to calewis

[2021-08-27 13:35] #704 closed, assigned to calewis

[2021-08-30 23:56] calewis commented on #713
@feldergast good to close?

[2021-08-30 23:56] #706 closed

[2021-08-31 00:10] calewis opened #716 "Format cmake"
Similar to clang-format, just set a format file for cmake and be done with it.

[2021-08-31 14:33] feldergast commented on #713
Addressed in #714

[2021-08-31 14:33] #713 closed

[2021-08-31 23:48] #711 closed

[2021-08-31 23:48] #710 closed

[2021-09-01 13:20] calewis opened #719 "Cmake use variable to hold top-level source"
This is a recommendation that Jeremy made that I agree with, but I didn't want to hold up #712 to do it.

[2021-09-02 13:20] calewis opened #721 "Cmake build is broken with git-worktree"
Git work tree doesn't provide the same directory layout in `.git` as the main directory.

[2021-09-07 16:46] calewis opened #723 "Macro can't build with sst-core cmake"
Header detection fails, first place to check is to see if the conf file is missing something.

[2021-09-07 16:49] calewis commented on #723
Need to put the c++ standard flags in the conf file

[2021-09-07 16:51] calewis commented on #723
I don't actually love that solution since 11-20 are abi compatible (I think) and us putting 11 in the conf file would potentially cause issues if downstream projects want to use 14,17, or 20.

[2021-09-07 17:02] calewis commented on #723
Apparently the issue was a missing header.

[2021-09-12 17:11] ErsinCK opened #727 "error during sstcore configure"
New Issue for sst-core
----------------------

http://sst-simulator.org/SSTPages/SSTBuildAndInstall_11dot0dot0_SeriesDetailedBuildInstructions/

I am using this to install OpenMPI and sstcore.

OpenMPI is installed succesfully. In fact, I compiled some programs with it and can confirm that it works.

during installation of sstcore, I am using ./configure --prefix=$SST_CORE_HOME and the configurati

[2021-09-13 14:46] nmhamster commented on #727
@ErsinCK - can you look in the config.log file which is generated when `./configure` runs (it will be in the same directory). There should be some operations to check for MPI in there, these will fail. Can you copy that into your issue or attach your config.log file so we can help you? Thanks for reporting the issue.

[2021-09-16 14:17] ErsinCK commented on #727
Sorry about the late response. I was using it without the openmpi. I might not even need it but this could be useful for other people interested. I reinstalled to recreate the error.

[config.log](https://github.com/sstsimulator/sst-core/files/7178431/config.log)

[2021-09-17 00:17] calewis opened #729 "Macro testing requires using names reserved for sst-elements"
Currently in macro we have
[code]
Which we really shouldn't have since these names are for the elements.  But if we remove these calls the autotester fails because it depends on this for finding the tests.

[2021-09-20 20:45] nmhamster commented on #729
@calewis - I think we can to the conclusion that these were required. The bit which was missing was registering the SST_MACRO_LIBDIR setting. For example:

[code]

[2021-09-20 20:49] nmhamster commented on #727
@ErsinCK - the `config.log` correctly states that `-lmpi` cannot be found. This will be the case if you do not have an MPI variant installed (e.g. MPICH, MVAPICH, OpenMPI etc).

You can proceed without using MPI in the core by specifying `--disable-mpi`, this will build a single-node version of the code. If you want to use the distributed (parallel) event core, which we generally recommend, then y

[2021-09-20 21:18] nmhamster commented on #678
@calewis - it always says its @nmhamster fault. I believe this issue is fixed and am closing. Reopen if any more problems.

[2021-09-20 21:18] #678 closed

[2021-09-21 13:58] calewis commented on #678
@nmhamster why did you close this?

It's still an issue
<img width="960" alt="Screen Shot 2021-09-21 at 9 57 46 AM" src="https://user-images.githubusercontent.com/5229805/134184447-dd1e3e75-064e-44e4-9690-3fc153166612.png">

[2021-09-21 13:59] calewis commented on #723
Yes Macro builds with core now.

[2021-09-21 13:59] #723 closed

[2021-09-21 15:26] calewis commented on #729
@nmhamster the following build failed the autotester https://github.com/sstsimulator/sst-macro/pull/641/commits/d148aa355e75584df4d58110ce06f6d70a669614

So I did the step of
[code]
but that build didn't pass testing. I made this issue here because long term we don't want macro to have to use
[code]
Or do we?

[2021-09-21 15:28] nmhamster commented on #729
@calewis - what is the failure mode for the build? I **think** we should have all the components (including Macro) register the same way so its consistent. Thoughts on that?

[2021-09-21 15:32] calewis commented on #729
The failure is that the Jenkin's job can't find the tests because they aren't part of the `SST_ELEMENT_TESTS` paths.

[2021-09-21 15:48] feldergast commented on #729
Looking at this some more, it’s probably okay to use the same sections for elements and macros.  It will just add another entry for the macro library to the list of all the other elements.

[2021-09-21 15:50] jpkenny commented on #729
@nmhamster just clarifying on Drew's comment, macro will run fine if we register it as SST_MACRO, but the Jenkins testing relies on it being in SST_ELEMENTS so the *automated testing* will fail. Probably just means an update to bamboo.sh to do it better, but seems like nobody wants to touch bamboo.sh. Current situation works ok, just less than elegant.

[2021-09-21 16:57] gvoskuilen commented on #729
I believe the test frameworks treats all elements the same whether they are part of "sst-elements" or not, hence the naming. This is the same way other external elements are registered too (with SST_ELEMENT_SOURCE and SST_ELEMNT_TESTS). I'd have to dig a bit but I think this is the way the frameworks operates, not related to bamboo.

[2021-09-21 20:26] gvoskuilen commented on #729
@nmhamster Yes, that is right.

In detail:
- The SST_ELEMENT_TESTS registration is used by sst-test-elements to locate tests
- The SST_ELEMENT_SOURCE registration is also used in testing, although I'm not certain where specifically it gets used
- The element-specific registration is used by SST itself to locate libraries for simulation

[2021-09-22 13:20] calewis commented on #729
So this is actually a non-issue?

[2021-09-22 13:26] jpkenny commented on #729
It functions as intended. Macro components are functionally more or less elements and Mercury components will *be* elements. So I guess I lean towards "not broken, close issue".

[2021-09-22 13:54] #729 closed

[2021-09-23 01:27] allevin commented on #729
@calewis @jpkenny @nmhamster @gvoskuilen is correct, the test frameworks can either test Core or Elements.   Elements must perform a registration of where their tests live (SST_ELEMENT_TESTS ) so that the test frameworks can find them.  Since we were registering the path to the tests, I also added the path to the source (SST_ELEMENT_SOURCE) just in case.  I cant recall if we use it however for any

[2021-10-06 02:15] jleidel opened #732 "SST Configuration Graph Output Using JSON Contains Misspelled Node"
The JSON output for SST configuration graphs contains a misspelled node name.  "compenent" should be "component"

Reproduce the bug with:
`sst --output-json=foo.json /path/to/simulation.py`

Fix coming shortly.

[2021-10-06 13:38] jleidel commented on #732
merged by @feldergast

[2021-10-06 13:38] #732 closed

[2021-10-11 19:26] pdbj opened #736 "Fix GCC-10 warnings"
When compiling with GCC-10 (10.2.1 and 10.3 on two different systems) I encountered a number of minor warnings, all fixed by this patch.  This is based on v11.0.0_FINAL
[0001-Fix-GCC10-compilation-warnings.patch.txt](https://github.com/sstsimulator/sst-core/files/7324887/0001-Fix-GCC10-compilation-warnings.patch.txt)
.

[2021-10-11 19:27] pdbj opened #737 "configure should show status of optional features"
Configure should show status of optional features.  This patch adds a stanza with that information.
[0001-Show-status-of-optional-features-during-configure.patch.txt](https://github.com/sstsimulator/sst-core/files/7324896/0001-Show-status-of-optional-features-during-configure.patch.txt)

[2021-10-11 22:07] yao-kang opened #738 "statengine stoptime reads wrong string?"
I was looking at how to use Statistic to only record information for a specific time interval (e.g. 60--80us) and it seems that sst-core/src/sst/core/statapi/statengine.cc at line 398 reads the wrong parameter name of "startat" instead of "stopat"?
Thanks

[2021-10-13 19:47] calewis commented on #679
@feldergast @nmhamster can we close this now?

[2021-10-14 14:54] feldergast commented on #737
Addressed in #739

[2021-10-14 15:07] feldergast commented on #628
Fixed in #630

[2021-10-15 14:17] #738 closed, assigned to feldergast

[2021-10-15 14:18] #737 closed, assigned to nobody

[2021-10-27 20:56] jpkenny opened #745 "Only get dlerror output from attempt to load .dylib on OSX"
on current sst-core devel branch:
on OSX:

Core will attempt to load .so and .dylib versions of libraries before it checks dlerror. You will only ever see errors from the attempt to load the .dylib, so errors loading .so will get lost.

[2021-11-05 16:40] jpkenny commented on #745
Fixed by PR #746

[2021-11-05 16:40] #745 closed

[2021-11-12 17:00] gunney1 opened #756 "shared params"
New feature request:
----------------------
I would like to request a way to efficiently add parameters for sharing with all BaseComponents (or all C++ code).  Currently, the way to do this is to duplicate this data for every and every component.  This is not scalable for simulations with very large numbers of components.  In our code, the first component on each MPI task caches the data in a sing

[2021-11-12 20:47] feldergast commented on #756
A very similar feature exists (it was committed just a bit before the 11.1 release.  They are called global parameters.  I‘ll post a short tutorial on how to use them later this weekend when I can sit down at my computer.  They are supported in both the python and new JSON input formats.

[2021-11-12 20:53] gunney1 commented on #756
Thanks.  That would be great if it's a single copy accessible by all components on the MPI process, not a deep copy on each and every component.

[2021-11-13 14:39] feldergast commented on #756
We have use cases where subsets of components share parameter values, so have to have a way to differentiate since one key can have different values across the subsets.  The solution was to have a global group of named parameter sets.  Each rank gets only one copy of each named set.  You add parameters to a set using:

sst.addGlobalParams(set_name, dict_of_key_value_pairs)

Then, you can add these

[2021-11-15 18:32] gunney1 commented on #756
I think that should work for us.  Thank you.

[2021-11-16 20:23] jwilso opened #758 "test-sst-core uses wrong Python on Ubuntu 20.04"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
Because Ubuntu 20.04 uses only Python3 by default, there is no 'python' executable available, it must be explicitly invoked as 'python3'. sst-test-core looks for 'python', and fails if it is not found.

2 - Describe how to reproduce the issue
Run sst-test-core on Ubuntu 20.04 in default configuration.

[2021-11-29 20:48] calewis opened #763 "Core should stop reporting that an element library wasn't found when dlopen fails"
## Issue

`libmyelement.so` is sitting in the correct folder for core to find it.  I run `sst my_input.py` and the error message I get is
[code]

How to reproduce
1. Compile element with a missing symbol
2. Try to run sst and use that element

IFF you set `SST_CORE_DL_VERBOSE=1` you will get some helpful info, but we really need to stop reporting "unable to find" when dlopen fails.  It implies tha

[2021-11-29 20:58] jpkenny commented on #763
This has mislead me in the past as well. Core should report something less specific than "unable to find", since the library was indeed found.

[2021-12-01 13:52] TOMsworkspace opened #764 "How to estimate power consumption of a cpu or other elements in SST?"

[2021-12-03 17:40] plavin opened #766 "Some stats and stat names are missing from output when using component.enableStatistics"
Detailed description:
When enabling statistics with component.enableStatistics([list of stats]), some of the names are missing from the output (attached). Also, not all of the stats are printed. I see the same issue with TXT and CSV output, but I don't this issue when using enableAllStatsForAllComponents.

Reproducing:
I have attached a simple configuration file that enables a few memHierarchy.Cac

[2021-12-03 18:52] plavin commented on #766
I have done some preliminary searching on my own but I've gotten a bit stuck.

I tried setting a breakpoint in BaseComponent::createExplicitlyEnabledStatistic. I noticed that when cfg.shared is false, the stat is output correctly, but when cfg.shared is true, no name is output. When cfg.shared is not false, it is some random int, like 160 or 62. The only place I could find in the code that sets cf

[2021-12-03 19:02] feldergast commented on #766
Thanks, that actually gives us a good start.  We'll look into it.

[2021-12-07 17:48] feldergast commented on #766
I haven't been able to reproduce the missing stat names on my machine (Mac OS X Catalina). What OS are you seeing this on?  And just to be clear, are you seeing missing stat names with enableAllStatsForAllComponents(), or just with the call directly on component?

Also, in the sample file, MSHR_occupancy is spelled wrong (has a capital O instead of lower case), so doesn't get enabled.  With correc

[2021-12-07 18:13] plavin commented on #766
I'm on Ubuntu 20.04. I'm only missing stat names when enabling stats on a component. If I enable all stats, all the names print just fine.

[2021-12-07 18:28] feldergast commented on #766
This is probably too simple of a fix to actually work, but could you change line 131 of configGraph.h (or close to that line, I'm on a slightly modified version of the code) to be:

    bool          shared = false;

I don't see shared get initialized to a default anywhere else and I've seen bugs that exhibit on linux but not Mac due to initialized variables.

[2021-12-07 19:05] plavin commented on #766
That fixed it!

[2021-12-07 19:25] feldergast commented on #766
Nice to get lucky sometimes.  Thanks for your sleuthing.

[2021-12-16 14:15] jleidel opened #769 "Parallel JSON Writer Aborts Without File Extension"
When attempting to output parallel JSON simulation files from a python input file, the simulation aborts due to a std::out_of_range exception if the target JSON file name does not contain a file extension.  EG, using `OUTPUT_FOO` instead of `OUTPUT_FOO.json` will trigger the abort.

Its fairly simple to trigger it using existing examples.  This triggers the abort:
[code]

This works:
[code]

Error

[2021-12-16 14:59] feldergast commented on #769
This is a bigger issue with how we parse filenames.  We assume an extension exists.  I know right where this error is happening.  Let me take a look and see if I can fix it across the board.  I've got some other minor changes I'm working on and can add this to it.

[2021-12-16 15:48] jleidel opened #770 "JSON Writer Generates Erroneous Link Configurations"
The current JSON writer code appears to be broken.  When we attempt to ingest a sample python script and output it back out as a json file, the link configuration fails.  We can successfully ingest a python script and output it as a python script that can be run.

This works:
[code]

This is broken:
[code]

Trace:
[code]

Broken starting with commit: 8c1afe458a4b9459258969189a0391ec8b5032c3

[2021-12-16 16:10] feldergast commented on #770
I get the same error when running the commands above. However, looking at the created JSON output file, the file appears to be correct.  The issue must be in the reader.  Here's the JSON for the two links:

    {
      "name": "link_s_1_2",
      "left": {
        "component": "c1.0",
        "port": "Elink",
        "latency": "10000ps"
      },
      "right": {
        "component": "c2.0",

[2021-12-16 16:17] feldergast commented on #770
Found the issue.  I'll put in a fix.

[2021-12-17 16:17] gunney1 commented on #756
I'm having trouble with this feature running MPI multitask.  Either a bug or I'm not using it correctly.
Running sstcore-11.1.0.
How to reproduce:

Create component to print out Params:
[code]

Here is a python script to create some components that use global parameters.  One global parameter set is inserted before the component creation, the other after.
[code]

Running with 1 task:
[code]
Both s

[2021-12-18 00:40] feldergast commented on #756
Both the serial and parallel runs should be the same.  Also, I don't believe it matters where you set the global params in the script, they key off of names that don't resolve until after the script is run.  The tests in core don't use the print function from the Params, but rather call Params::find and print the result.  It could be an issue in the print statement, or it could be something down d

[2021-12-18 01:04] feldergast commented on #756
I changed the core test to use two global param sets, with one created before the components and one after.  All the parameters get to the correct spot, even for multi-rank jobs.  I'll take a look at the print_all_params function when I get a chance and make sure it's doing the right thing.

[2021-12-18 01:33] gunney1 commented on #756
In my reproducer, when `print_all_params` doesn't show `SharedAfter`, `params.contains("y")` returns `false`.  This indicates that it `params` really doesn't have the second global param set.  With some mods to the output, I get
With 1 rank:
[code]

With 2 ranks:
[code]

[2021-12-18 05:14] feldergast commented on #756
Might be  a serialization issue then.  I'll have to figure out what's different in your reproducer and the core test.

[2021-12-19 23:50] jleidel commented on #770
confirmed fix; closing

[2021-12-19 23:50] #770 closed

[2021-12-19 23:51] jleidel commented on #769
confirmed fix; closing

[2021-12-19 23:51] #769 closed

[2021-12-19 23:54] jleidel commented on #764
Tom, any notional power estimation will be done by the respective component-level implementations, not the SST-Core.  The Core is event handling mechanism and the resource broker for any respective simulation.  The individual components will need to have specific knowledge of the power required to operate any specific events.

What specifically do you seek to achieve?

[2021-12-19 23:57] jleidel commented on #709
Is this still an open issue?

[2021-12-20 07:08] TOMsworkspace commented on #764
I want to estimate the power/space on the re-designed MMU(based on SST Samba element). Bbut I do not know how to achieve this goal?

[2021-12-20 12:53] jleidel commented on #764
In that case, I would suggest moving this PR over to the SST-Elements repo (where Samba resides).

[2021-12-27 08:55] TOMsworkspace commented on #764
Ok, thanks.

[2022-01-04 21:34] feldergast commented on #756
I think I figured this out.  It exhibits when a set of shared params is referenced before having anything set in it.  In that case, a new params object is added to the global map that tracks them, but is not properly initialized with the name of the set.  This means it will work fine in serial, though the name will not show up when using print_all_params(), but it will not work properly for parall

[2022-01-10 13:52] jleidel opened #777 "JSON files corresponding to rank without components or links do not write component or link tags"
Suppose I have an MPI rank with no assigned components. When I output the JSON created from a parallel Python run, those JSON files corresponding to ranks without components do not write component or link tags. See around line 171 in jsonConfigOutput.cc. When I try to re-load those JSON files, I get an error from the JSON model parser, since it expects component and link tags.

Trivial fix in json

[2022-01-10 17:01] jleidel commented on #777
merged into `devel`

[2022-01-10 17:01] #777 closed

[2022-02-24 23:00] tommasobo opened #803 "How to run SST on a cluster?"
I am trying to simulate a new routing algorithm in SST using the existing network topologies (Fat Tree, Dragonfly..)

So far it has been working well but now I am starting to run large simulations which take a lot of time to complete on my local machine.
If I understood correctly I should be able to run SST on a cluster using multiple nodes to speedup the simulations. The problem is that I haven't

[2022-02-24 23:16] nmhamster commented on #803
Hi @tommasobo - how do you normally run MPI on your cluster? SST automatically detects the number of MPI ranks being given to it to use and will distribute the simulation over it (more complicated options allow to fine tune this a little).

Question - how many cores per node does your cluster running SST have?

I would typically run:

[code]

The `-c` option is number of cores to use per MPI rank,

[2022-02-25 00:24] tommasobo commented on #803
@nmhamster
Thanks for your answer.

The cluster is running compute nodes with 64 (128t) cores for each one. Should i always set --ntasks-per-node=64 in this case?

And does that also mean i don't need to worry about setting the number of tasks to be equal to the number of network nodes being simulated?

[2022-03-09 22:37] tommasobo commented on #803
For what is worth we fixed the issue by using `sstcore-11.1.0/libexec/sstsim.x` instead of just `sst` to run the simulator using MPI.

Maybe there is a way to do it by using `sst `but we couldn't figure it out.

[2022-03-10 18:58] pdbj commented on #641
ns-3 has a similar feature, the heart of which is in the [ShowProgress::CheckProgress()](https://www.nsnam.org/docs/doxygen/classns3_1_1_show_progress.html#a49719b055f8012ca440105a7a0938180) function.

(Disclosure: I'm the author of ns3::ShowProgress)

[2022-03-11 18:27] pdbj commented on #736
Just following up on some of the changes in the patch above:

Language standard: as of 2022-02-23 the build issues `-std=c++1y`, the pre-final label for C++-14. The code also uses `alignas` in a few places, and newer GCC complains that requires `-faligned-new` (or higher language standard).  So there is some sort of conflict there.

Incidentally, configure puts any user-provided CXXFLAGS _before_

[2022-03-11 18:29] pdbj commented on #736
[Here](https://github.com/pdbj/sst-core/commit/5fd54f67acf2d2481c5a1905cd26bb6f09bbc4ae) is an additional patch to fix type and width mismatches. (It also a few `[[fallthrough]]` and `[[maybe_unused]]` you can ignore.)

[2022-03-11 18:30] pdbj opened #805 "Additions to .gitignore"
[Here](https://github.com/pdbj/sst-core/commit/74fe1533ddef79bb3ae1c20cfd5436db43655aa0) are some additions to .gitignore, for files generated by the test suite, and editor backups

[2022-03-11 18:32] pdbj opened #806 "--enable-perf-tracking --enable-profile doesn't compile"
Configuring with `--enable-perf-tracking --enable-profile` doesn't compile, because some member variables and functions are only enabled with `__SST_DEBUG_EVENT_TRACKING`

Patch [here](https://github.com/pdbj/sst-core/commit/81a5123558c03978f01508dfdec6a773e7ec5346)

[2022-03-11 18:33] pdbj opened #807 "Fix crashes in normal builds"
With the dev tip from 2022-02-23 I get crashes due to uninitialized pointers.

Patch [here](https://github.com/pdbj/sst-core/commit/7fb1ca5df26d1c8b04a612f27a80a619e25b07d0)

[2022-03-12 00:37] pdbj opened #808 "--enable-perf-tracking --enable-profile crashes"
[Edit to fix phold make command]

New Issue for sst-core
----------------------
**1 - Detailed description of problem or enhancement**
With `--enable-perf-tracking --enable-profile` during configure several of my models crash with seg faults. I have not been able to reproduce with the car wash example in simpleSimulation.  I can reproduce with a simple PHOLD model (see below).

**2 - Describe how

[2022-03-22 23:57] pdbj opened #812 "Fix printf formats"
Several printf formats are not aligned with the provided type.

~~1st patch [here](https://github.com/pdbj/sst-core/commit/3034c4a51c08796089d685cae4bff1b5ca9fdd31)~~ (Ignore this one, better to use the `PRI...` version)

2nd patch [here](https://github.com/pdbj/sst-core/commit/035e4c68862064eec6d0c4ae13f0a2086fd1c3e5)

[2022-03-23 00:01] pdbj commented on #808
I've found a fix, see [my wip branch](https://github.com/pdbj/sst-core/commit/9ba01bfd13782a1f3568e3eb08157c0c6b4567e5) at 9ba01bf.

This is sufficient, but it might not be minimal; at least it bounds the solution space.

[2022-04-13 07:19] #764 closed

[2022-04-13 17:55] pdbj opened #825 "Can't set timebase to larger than ns"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
Setting the timebase to larger than ns causes a crash during initialization

2 - Describe how to reproduce the issue
[code]

3 - Diagnosis

simulation.cc:211: `Simulation_impl::Simulation_impl()`
[code]

4 - Suggested fix
Change the `new Exit` call to

[code]

[2022-04-13 18:03] feldergast commented on #825
Thanks.  I'll make the change.  However, the error message gives a time of 1ns, not 100ns (as in the new Exit call), so there is probably an issue somewhere else as well.  For example, the TimeLord creates TimeConverters for 1ns, 1us and 1ms (which may be where the above error is coming from??); we'll need to detect that those are representable with the set time base before creating them.  I'll ad

[2022-04-14 16:47] #756 closed

[2022-04-14 16:49] gvoskuilen commented on #649
@feldergast Is this fixed for SST 12?

[2022-04-20 20:28] pdbj commented on #807
Appears to have been fixed in 878ed8499, closing.

[2022-04-20 20:28] #807 closed

[2022-04-21 20:13] pdbj opened #833 "Statistics::StatisticsProcessingEngine is not thread safe"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
* When a statistic is registered with a `stopat` parameter the StatisticsProcessingEngine adds it to a Oneshot handler list for all stats to be disabled at the same time.
* This OneShot is added to the event queue of the calling thread, which is the first one to register a stat with that particular `st

[2022-04-25 21:57] pdbj commented on #812
Consolidated and revised patch [here](https://github.com/pdbj/sst-core/commit/d40062c2f2676793dca35db4cbc0f59eea767a33)

[2022-04-25 22:04] pdbj commented on #736
Revised and broken out by issue:

* [Tag or remove possibly unused vars](https://github.com/pdbj/sst-core/commit/3159d03bbddfeb297d50c89a6be331eb539f0fbd)
* [Label `[[fallthrough]]` case](https://github.com/pdbj/sst-core/commit/b719e3c3b60b7ff0c20d6a647f3cee9a72e082e4)
* [[Fix c'tor initializers missing, not in declaration order](https://github.com/pdbj/sst-core/commit/31ea6a5b1d0650fd9dc3b3423be8

[2022-04-25 22:04] pdbj commented on #805
Revised: [Ignore files generated by tests, editor backups, html docs](https://github.com/pdbj/sst-core/commit/9ce5a1711428aac271c1040e0e0eb33ee63f2049)

[2022-04-25 22:10] pdbj opened #836 "Get simulator state from simulator_impl"
statapi/statoutputhdf5.cc doesn't compile with master@b667d591 (Apr 20, 2022)

Patch: [Get simulator state from simulator_impl](https://github.com/pdbj/sst-core/commit/f6f738c070c5fbc80ea699be69407e4080e9131b)

[2022-04-25 22:13] pdbj opened #837 "Catch HDF5 exceptions by const ref"
HDF5 exceptions are polymorphic, must be caught by ref not value.

Patch [Catch exception by const ref](https://github.com/pdbj/sst-core/commit/00716437f19ac9cd152b6c78dff5fdcc1be01e74)

[2022-04-25 22:16] pdbj opened #838 "Show SST internal configuration when verbose"
It's often useful to document the internal SST configuration.  This patch logs Config to the default simulator output, when verbose.

Patch [Show SST configuration when verbose](https://github.com/pdbj/sst-core/commit/d3e86c13b6b365b3ce4d6bc18784c130a4428f96)

[2022-04-25 22:23] pdbj opened #839 "Pointer is not set to null when deleted, but subsequently tested"
In link.cc:110 (`Link::finalizeConfiguration()`) the pointer `pair_link->send_queue` is deleted but not set to null.  The test following sets it to a non-null value in only two (of the four possible) cases.  This pointer is subsequently referenced in numerous functions.

Patch [Set pointer to null when deleted](https://github.com/pdbj/sst-core/commit/b5b5633f45d8c599914a7f25cae68160675813e8)

[2022-04-25 22:30] pdbj opened #840 "Link::sendUntimedData() confusingly inserts in send_queue before data record is complete"
Link::sendUntimedData() populates `Event * data`, then adds the event to the `send_queue`.

When event tracking is enabled the send and recev components are added to the Event _after_ it is added to the queue. This might not be a bug but it's certainly confusing.

Patch [Include send/recv component info when queuing event](https://github.com/pdbj/sst-core/commit/849462cf3af94477706ea34259f9c635100

[2022-04-25 22:31] pdbj commented on #806
Revised [Fix conditional code with --enable-perf-tracking --enable-profile](https://github.com/pdbj/sst-core/commit/50c81f35bda12afca3d50e3abf0c3326990448e4)

[2022-04-25 22:31] pdbj commented on #808
Revised [Fix crash due to reference deleted event state](https://github.com/pdbj/sst-core/commit/e1a1e3adda51f60a8bd5969e5c3b672c9c3bcaaf)

[2022-04-25 22:34] pdbj opened #841 "Profiling output should show simulation time as well as (wall clock) run time"
[Consolidate periodic performance output control](https://github.com/pdbj/sst-core/commit/4b9f5c765823943b30c138f381cb74d8db576c07)

[Provide more info about when profiling was printed](https://github.com/pdbj/sst-core/commit/e08aeee2f77bdd8e7de77903af5e806cfa9477a4)

[2022-04-25 22:40] pdbj opened #842 "All clock handlers should be registered with profiling"
Only one of the `BaseComponent::registerClock()` overloads actually registers with the profiling tracker.  In addition, the clock handler timing includes internal housekeeping (unregistering clock handlers which indicate they should be stopped).  Finally, the profiling output only prints one category of clocks (registered or unregistered, not both).

This patch series addresses these shortcomings:

[2022-04-25 22:53] pdbj opened #843 "Event profiling issues"
If a component event send or receive counter, or total run time, is not registered no output for that item is generated. It would be easier to use if the output was consistent, and showed `0' in these cases.

[Print per-Component aggregate event handler profiling](https://github.com/pdbj/sst-core/commit/fe859b9caa40f6151e81c9f46a562b66c4010dde)

[2022-04-25 22:56] pdbj opened #844 "Event serialization size is tallied twice"
In syncQueue the size of events serialized for exchange between ranks is tallied twice: once in `SyncQueue::insert(activity)`, then again in `SyncQueue::getData()`.

This patch also clarifies the labels on the output, and adds the average serialization size.

[Count rank exchange event sizes just once](https://github.com/pdbj/sst-core/commit/641ec6c433d2546b46eff507e591089d266ec371)

[2022-04-25 22:59] pdbj opened #845 "SST_SYNC_PROFILING is never enabled"
SST_SYNC_PROFILING is never enabled, despite being referenced in several places.

This patch enables it with `--enable-perf-tracking`, clarifies the labels on the output, and consolidates the data collection

[Enable sync profiling with --enable-perf-tracking](https://github.com/pdbj/sst-core/commit/346c6c6cfb296b2fe28a3cd5f80d099f759c6b30)

[2022-04-25 23:04] pdbj opened #846 "RankSyncParallelSkip tracks serialization time for untimed phases"
RankSyncParallelSkip tracks serialization time for untimed phases (as well as during the run), the other syncs.

This patch tracks serializations only during the run phase, refactors the implementation to consolidate the tracking, and clarifies the output labels.

[Profile serialization time only for run mode, not untimed phases](https://github.com/pdbj/sst-core/commit/aca03826d3f8518f475e391e1a16

[2022-04-25 23:09] pdbj opened #847 "Profiling output should be machine readable, and formatted as tables not individual statistics"
The profiling output generally puts one value per output line:

[code]

The output would be much easier to work with if it were machine readable, and formatted as a table, one line per Component instance.

This patch writes the the full rank report to a second file, with each section formatted as CSV.

[Print profiling to csv file](https://github.com/pdbj/sst-core/commit/959a59fad7c2f81267c1987fd4

[2022-05-09 21:06] jleidel commented on #806
@pdbj, is your tree up to date?  The revised patch appears to be stale.

[2022-05-09 21:13] jleidel commented on #808
@pdbj, I believe this patch is somewhat stale as well.  It fails on `src/sst/core/event.cc`

[2022-05-10 22:48] pdbj opened #854 "--print-timing labels are swapped?"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement

`sst --print-timing` produces a summary of global stats, including

[code]

But the code in main.cc:928 says
[code]

Are the labels swapped?

[2022-05-12 23:15] pdbj commented on #836
Fixed in [9d49eed8e](https://github.com/sstsimulator/sst-core/commit/9d49eed8ebe8776386cdaaf12d54a6b9f7f02f3f)

[2022-05-12 23:15] #836 closed

[2022-05-12 23:17] pdbj commented on #837
Rebased [Catch exception by const ref](https://github.com/pdbj/sst-core/commit/e3dbc8ee54830ddcc8929e59b670c290a63bbe51)

[2022-05-12 23:18] pdbj commented on #838
Rebased [Show SST configuration when verbose](https://github.com/pdbj/sst-core/commit/b4f3de97beff020df6bc537624cebcacb7ec3635)

[2022-05-12 23:19] pdbj commented on #839
Rebased [Set pointer to null when deleted](https://github.com/pdbj/sst-core/commit/d079c9fde8336e19a85c3abec1ff68586e0b0508)

[2022-05-12 23:20] pdbj commented on #840
Rebased [Include send/recv component info when queuing event](https://github.com/pdbj/sst-core/commit/8698e308c0591b0c9310e93ce68c2546aff6b48a)

[2022-05-12 23:22] pdbj commented on #841
Rebased [Consolidate periodic performance output control](https://github.com/pdbj/sst-core/commit/51b89c3bccee3458eeb070f3279a851f0b291637)

Rebased [Provide more info about when profiling was printed](https://github.com/pdbj/sst-core/commit/47a836cb144dd08623089a689caa56d0e6e020d2)

[2022-05-12 23:25] pdbj commented on #842
Rebased

- [Enable high-res profiling clock](https://github.com/pdbj/sst-core/commit/d5612706c5b80264cffea4e578a9b7d34ddbe1a2)
- [Register clock handlers for all registerClock() forms](https://github.com/pdbj/sst-core/commit/997a91697f5d2b2d99287d0c588e1008cd9a842b)
- [Refactor clock profiling to time just clock execution](https://github.com/pdbj/sst-core/commit/c2e06d9a5da816e31a610b399be1d3ea043

[2022-05-12 23:26] pdbj commented on #843
Rebased [Print per-Component aggregate event handler profiling](https://github.com/pdbj/sst-core/commit/5aca3b1697f6b139d762d2223174ed9e7bb069cc)

[2022-05-12 23:27] pdbj commented on #844
Rebased [Count rank exchange event sizes just once](https://github.com/pdbj/sst-core/commit/5c7332bd7bed663044c94a9029093901700491c8)

[2022-05-12 23:28] pdbj commented on #845
Rebased [Enable sync profiling with --enable-perf-tracking](https://github.com/pdbj/sst-core/commit/031a4ee0498453fb2c1a2827147c6fcf0c676e99)

[2022-05-12 23:28] pdbj commented on #846
Rebased [Profile serialization time only for run mode, not untimed phases](https://github.com/pdbj/sst-core/commit/107ef7e5d892cc57f166ff22c23cdecdb68e16e9)

[2022-05-12 23:29] pdbj commented on #847
Rebased [Print profiling to csv file](https://github.com/pdbj/sst-core/commit/9a2a82f60d9d6422199ad1861cf03480b0661358)

[2022-05-12 23:30] pdbj commented on #805
Rebased Revised: [Ignore files generated by tests, editor backups, html docs](https://github.com/pdbj/sst-core/commit/384b79cdda13b7b72b424c63eca16da9d8d2fdb0)

[2022-05-12 23:32] pdbj commented on #812
Rebased [Fix printf formats](https://github.com/pdbj/sst-core/commit/bbf1ddc86f4df304326a6c165e4475961e62ec14)

[2022-05-12 23:39] pdbj commented on #736
Rebased

- [Tag or remove possibly unused vars](https://github.com/pdbj/sst-core/commit/f5fe375f3225383dc04c858a98fca8290b87ec09)
- [Label [[fallthrough]] case](https://github.com/pdbj/sst-core/commit/56a1961a49eed304dc008880e259919a6e4f2ae6)
- [Fix c'tor initializers missing, not in declaration order](https://github.com/pdbj/sst-core/commit/7c4dc92390433e1deb72fcc2554dc35121746bdf)
- [Fix typos i

[2022-05-12 23:40] pdbj commented on #806
Rebased [Fix conditional code with --enable-perf-tracking --enable-profile](https://github.com/pdbj/sst-core/commit/b4d531518117408eb1964cbe253d76af42456edc)

[2022-05-12 23:42] pdbj commented on #808
Rebased [Fix crash due to reference deleted event state](https://github.com/pdbj/sst-core/commit/7410872dc82011af65d1a4aa2f5a5afbe3adef44)

[2022-05-12 23:45] pdbj commented on #806
I’ve rebased my wip branch and revised all the links on GitHub.

Peter

On May 9, 2022, at 2:07 PM, jleidel ***@***.******@***.***>> wrote:

@pdbj<https://urldefense.us/v3/__https://github.com/pdbj__;!!G2kpM7uM-TzIFchu!jOsk18GC3BBLOJjSOgifzESom-A_Cj8wlbKouXsvLV4UAWYxko9rmPAFGdIEcqox$>, is your tree up to date? The revised patch appears to be stale.

—
Reply to this email directly, view it on GitHu

[2022-05-15 02:06] jleidel commented on #806
It appears your WIP branch is tracking master, not devel.  In the future, I would suggest tracking devel such that these patches can be merged.  As it stands, we'll need to manually merge the changes into devel.

[2022-05-15 15:46] jleidel commented on #808
@pdbj, the patch code in `event.cc` is still too far behind `devel` to merge.  The upstream `devel` branch has diverged significantly.  You might want to check the changes from https://github.com/sstsimulator/sst-core/commit/9b90e81834a123f13c097940aafece479e1c1c43

[2022-05-16 16:11] pdbj commented on #806
Yes, I’m tracking master.

According to Github devel is 165 commits behind master.  Should I really track devel?

Thanks,
Peter

On May 14, 2022, at 7:06 PM, jleidel ***@***.******@***.***>> wrote:

It appears your WIP branch is tracking master, not devel. In the future, I would suggest tracking devel such that these patches can be merged. As it stands, we'll need to manually merge the changes int

[2022-05-16 16:35] jleidel commented on #806
@pdbj yes you should be tracking `devel`.  All PRs targeting bug fixes and new features must target devel.  See: https://github.com/sstsimulator/sst-core/blob/master/CONTRIBUTING.md

[2022-05-16 16:38] pdbj commented on #808
The commit https://github.com/sstsimulator/sst-core/commit/9b90e81834a123f13c097940aafece479e1c1c43 appears to be to master, not devel.  In any case that commit makes trivial changes (`Simulation::getSimulation` --> `Simulation_impl::getSimulation`).  My edits to `event.cc` also use the latter, and don't touch the two places https://github.com/sstsimulator/sst-core/commit/9b90e81834a123f13c097940a

[2022-05-16 16:43] jleidel commented on #808
@pdbj, its definitely a merge conflict.  If you look at the current event.cc code on the `devel` branch, the references to `SST_EVENT_PROFILE_REG` do not exist.  As a result, the standard git patch application functions fail to successfully patch/merge the code.

[2022-05-16 16:50] pdbj commented on #808
Apologies, you actually need two commits:

[Pre-register event profiling](https://github.com/pdbj/sst-core/commit/5dc3bd3e27801cbd81e655d28a137c6f398ee24e)

then

[Fix crash due to reference deleted event state](https://github.com/pdbj/sst-core/commit/7410872dc82011af65d1a4aa2f5a5afbe3adef44)

If I squash these now I'll have to update the rebase links in all the other issues, so I'd rather not...

[2022-05-16 17:00] jleidel commented on #808
@pdbj, that makes more sense.  I'll try to pull both patches and incrementally merge them into the current devel tree.

[2022-05-17 17:21] gvoskuilen commented on #649
Fixed

[2022-05-17 17:21] #649 closed

[2022-05-18 12:38] jleidel commented on #806
@pdbj Is there more than one commit that needs to be merged from this tree?  (Similar to Issue #808)

[2022-05-18 20:01] jleidel commented on #838
@feldergast, I can prep an issue-fix branch for a forthcoming PR if you approve.

[2022-05-18 20:48] feldergast commented on #838
This isn't the way I would fix this issue.  If there are multiple ways to print (Output object versus stdout, for example), I've been trying to consolidate things into a toString() function and then using that in the various print functions.  Also, [[fallthrough]] is c++17, so isn't allowed in the core.

[2022-05-18 20:54] pdbj commented on #838
Yes, I wasn't wild about the duplication.  On the other hand my new function prints things with a little more formatting (column aligned), so some reconciling needs to occur.

[2022-05-18 21:19] feldergast commented on #838
I have some changes to the config class on a branch I'm working on.  I'll take the new code and tweak it into a toString() function.  I'll use that in print() versions to take FILE* and Output.  There's probably not a great reason to have a version that only goes to stdout.

[2022-05-19 03:43] jleidel commented on #844
@pdbj, does this require another commit?  On the current devel branch:

[code]

[2022-05-19 03:46] jleidel commented on #845
@pdbj, does this require patches from an earlier commit? See:
[code]

[2022-05-19 03:49] jleidel commented on #843
@pdbj, does this patch require an earlier commit?  See:
[code]

[2022-05-19 13:05] feldergast commented on #843
I would hold off on this one.  The event profiling is about to be superseded by the new Profiling Points API.  The new event profiling will only print those items that have been enabled. This is an intentional feature since you can specify many different ways to collate the data.  However, if you use the new command line options to turn profiling on, it will register every handler, so everything w

[2022-05-19 15:53] jleidel commented on #808
merged into `devel`

[2022-05-24 18:27] kemstevens opened #860 "getTimeLord deprecation warning"
Hello,
I note that under SST 12 if your code called getTimeLord() from SST::Simulation, there is now a deprecation warning.  Unfortunately, the warning is not very clear about what to call instead.  Based on the message, I tried to grep the sst core course code for an alternative getTimeLord() function but found nothing.  What is the recommended replacement for this function going forward?

[2022-05-24 21:33] gunney1 commented on #860
I'm also interested in this issue.  I use the TimeLord to get the TimeConverter used by the Simulator.  I see that it has moved to Simulator_impl, but there's not public access to that class.

[2022-05-24 21:51] feldergast commented on #860
BaseComponent::getCoreTimeBase() will give you the timebase used by the Simulation object.  If you need a TimeConverter, you can then call BaseComponent::getTimeConverter() to create a TimeConverter from it (by definition, it will have a factor of 1).  If you’re trying to get these from a class inheriting from a different core class, let me know what class.  We are getting rid of the static functi

[2022-05-25 21:33] feldergast commented on #825
Fixed in #828

[2022-05-25 21:33] #825 closed

[2022-05-26 17:35] feldergast commented on #860
Are these BaseComponent API calls sufficient for you use cases?  If so, can I close this issue?

[2022-05-27 02:16] gunney1 commented on #860
Yes, they're sufficient.  Thank you.

[2022-06-08 15:16] debjyoti0891 opened #863 "Integration with Dakota"
One of the early SST tutorials mention Dakota (https://dakota.sandia.gov/quickstart.html) for DSE to enable hardware-software codesign. Is there any code /example that shows how SST can be interfaced with Dakota?

[2022-06-11 23:50] debjyoti0891 opened #864 "Statistics name not present in statistics output"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
histogram statistics does not name the individual statistic name in the generated file. only the component name is generated.

2 - Describe how to reproduce the issue
in `sst-elements/src/sst/elements/simpleElementExample/tests`, run `sst basicStatistics2.py`

Output:
[code]

3 - What Operating system(

[2022-06-14 13:50] rahahahat opened #865 "SST Core - Can't find requested component in external element library"
Hello, I'm trying to integrate an external element library (a very simple simulator) into SST (The idea is to make it work on this basic example and later translate the steps into our complex simulator which faced the same problems).

I've also looked at [#1721](https://github.com/sstsimulator/sst-elements/issues/1721), however that didn't fix it either.
#### sstcpu.h
[code]
#### sstcpu.cc
[code]

[2022-06-14 15:09] feldergast commented on #865
Not sure it this is your problem or not, but it's worth trying.  Every source file (usually .cc), but no header files, that include any sst header files needs to include sst_config.h as the first include.  This file is generated by the build system and encodes a lot of the options from the build.  So, in this case, sstcpu.cc would need  to include sst_config.h before sstcpu.h.  It wouldn't usually

[2022-06-15 16:22] feldergast commented on #865
I took the code and stripped all references to cpu.h and its contents since I don't have access to it.  I also removed references to the library on the build lines.  All other command line options were left in for Linux (-soname was not valid for clang and had to be removed on Mac).  It compiles and runs successfully on both Mac (Catalina) and Linux (RHEL7).  I suspect there must be something in t

[2022-06-16 12:40] rahahahat commented on #865
@feldergast Hello!
Thank you so much for your help. I'm really grateful. I followed your advice about the `sst_config.h` and closely modelled my Makefile after Juno's Makefile. However, that's the only thing I changed, all the code in the `cpu.h` file was the same.

[2022-06-16 12:48] rahahahat commented on #865
Thanks alot for doing this, I appreciate it.

[2022-06-20 09:41] #865 closed

[2022-06-24 13:57] #846 closed

[2022-06-24 13:57] #854 closed

[2022-06-28 17:02] jpkenny opened #867 "Add configure option to support address sanitization"
Core's memory use looks buggy to many memory debugging tools.

For component debugging it is impractical to compile sst-core using -fsanitize=address because so many things in core get flagged as errors. But you can't only compile the component with sanitization because sanitizer symbols won't get linked in properly.

I think the best solution here is to add -fsanitize=address ONLY to the sstsim.x

[2022-07-30 00:26] pdbj opened #868 "File sstpart.h exists twice"
These two files are almost identical; only the first appears to be used:
* `src/sst/core/sstpart.h`
* `src/sst/core/part/sstpart.h`

Here's the diff:
[code]

[2022-08-01 21:44] pdbj commented on #837
Has this been merged yet?

[2022-08-01 22:05] pdbj commented on #812
This is fixed in devel

[2022-08-01 22:05] #812 closed

[2022-08-02 16:43] feldergast commented on #837
I thought we had added it to another PR, but I'm not seeing the changes in devel or master.  We'll need to do a separate PR for it.

[2022-08-03 22:45] rachelwaldon opened #869 "Can SST be configured with OpenMPI that has UCX disabled or configured with alternative?"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
I'm trying to build SST-Core version 12.0.0 inside a podman container. I get this error when I run $ sst --version inside the container

![podman3](https://user-images.githubusercontent.com/42785514/182723937-35120eb1-8451-4563-8d62-ce357c9de6b3.PNG)

Basically I have an issue where UCX is trying to ac

[2022-08-06 01:53] jleidel commented on #869
@rachelwaldon, we have a number of OpenMPI builds (including 4.1.0) that do not utilize UCX.

[2022-08-11 05:46] rachelwaldon commented on #869
Great news thanks, where could I find that or how can I build that? I have tried compiling openmpi with configure flags --without-ucx and --without-hcol and I got errors.
![error](https://user-images.githubusercontent.com/42785514/184071252-27f44a3a-7b18-47fc-ba33-e3e60146386c.PNG)

[2022-08-11 11:28] jleidel commented on #869
Our environment is rather simple with respect to OpenMPI.  We use `--prefix=/path/to/install --with-slurm` as our configuration lines.  We simply do not enable UCX by default.  Also keep in mind that we link against the Slurm batch scheduling system.

From the looks of your console, you appear to be running within a container of some sort.  A few things:
- OpenMPI generally frowns upon running as

[2022-08-11 19:07] rachelwaldon commented on #869
Thanks for the help. Yeah I was just wondering if you use different network libraries to see if I could use a different one than UCX, but I think for now I may just try to suppress the warning it seems UCX is recommended for newer versions of openmpi.

Yes I'm trying to containerize SST into a podman container. Yes I'm running it as a fakeroot inside the container. I looked at your SST Dockerfiles

[2022-08-11 23:04] pdbj opened #870 "Histogram does not handle floating point data correctly"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
HistogramStatistic does not handle floating data values (x axis) correctly, because
* `m_binWidth` is of the wrong type (is NumBinsType, an int, should be BinDataType, which could be float)
* Calculation of `bin_start` in `addData_impl_Ntimes` is incorrect

2 - Describe how to reproduce the issue
* Cre

[2022-08-11 23:05] pdbj commented on #870
This [commit](https://github.com/sstsimulator/sst-core/commit/c28cfdd498bab0fceae19378ae711199f66732a5) fixes the problem.

[2022-08-12 16:05] #869 closed

[2022-08-12 21:29] pdbj opened #871 "--num_threads option should be --num-threads"
`--num_threads` option is the only option which uses underscore `_` instead of dash `-` to separate words.

Even the error message in `Config::setNumThreads` uses dash

An option `-num-threads` should be provided.  (Keep `num_threads` for backwards compatibility)

[2022-08-12 21:29] pdbj commented on #871
Diff to fix this:

diff --git a/src/sst/core/config.cc b/src/sst/core/config.cc
index 63939421..68be8397 100644
--- a/src/sst/core/config.cc
+++ b/src/sst/core/config.cc
@@ -798,7 +798,9 @@ static const struct sstLongOpts_s sstOptions[] = {
         "verbose", 'v', "level", "Verbosity level to determine what information about core runtime is printed",
         &ConfigHelper::incrVerbose, &ConfigHe

[2022-08-12 21:45] pdbj opened #872 "Python option sst.setThreadCount doesn't work"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement
Trying to set the thread count from Python doesn't work, using either of these calls:

[code]
2 - Describe how to reproduce the issue

a.  Add one of those calls to any Phython script
b.  Run the script with
[code]
c.  The script will run with the number of threads from the command line (4), not what w

[2022-08-12 22:14] feldergast commented on #872
This is the expected behavior.  Command line options should take precedence over options in python file.  If setting the number of threads in the python script doesn’t work when the number of threads isn’t specified on the command line, that is a bug that needs to be looked at.

[2022-08-15 17:13] pdbj commented on #872
But even without a command line option setting threads from Python doesn't work.

[`pymodel.cc:setSSTThreadCount:394`](https://github.com/sstsimulator/sst-core/blob/bcd759f8855943c2e253cbb0c60d1f41f0cb61b1/src/sst/core/model/python/pymodel.cc#L394):
[code]

This makes it appear that you can _decrease_ the number of threads from Python, but not increase. But the default is 1 thread (config.cc:587),

[2022-08-15 21:01] feldergast commented on #872
Thanks.  This should be relatively easy to fix.  I’ll take a look at it and get a PR ready.

[2022-09-15 12:42] feldergast opened #873 "Py_Finalize not called when Python model is complete"
SSTPythonModelDefinition doesn't call Py_Finalize when deleted.

[2022-09-15 17:52] pdbj commented on #872
IMO it should be possible to set the number of threads from the input file.

The input file describes the model.  If the model performs best with a certain number of threads (which might depend on other model parameters, such as size), the only place to make that decision is in the input Python.  Further, if a model is self-partitioned the input Python needs to assign Components to threads, using

[2022-09-15 17:57] feldergast commented on #872
Understood.  That’s why I went ahead and left it in and just added the check to make sure every rank has the same number of threads (we don’t test the case of different number of threads on the ranks, so I’m not sure it will work).  I can also leave setThreadCount() in and not deprecate it if that’s your preferred method.  I usually try to avoid redundancy, just for code maintenance reasons, but I

[2022-09-15 20:40] pdbj commented on #872
I'm ok with deprecating/removing `setRank(mpi_rank, thread)` since `setProgramOption()` provides the equivalent.  It sounded like you also want to remove that ("setting the number of threads is not something that should be available in the input file "), which would be bad, IMO, as explained above.

[2022-09-29 13:46] feldergast commented on #873
We have some internal research code the relies on the Python interpreter being available.  For now, the Python model will call the garbage collector when it is deleted.  This should clean up the majority of memory used by the Python interpreter as all variables should have gone out of scope.  We still need to verify that the core Python data structures are doing reference counting correctly and ar

[2022-11-04 20:09] mjleven opened #879 "Signal USR2 causes sst to fault"
Sending signal USR2 to sst causes it to fault. The simulation was Vanadis running MIPS HPCG

[sst-devel-new:2903269] *** Process received signal ***
[sst-devel-new:2903269] Signal: Segmentation fault (11)
[sst-devel-new:2903269] Signal code: Address not mapped (1)
[sst-devel-new:2903269] Failing at address: 0x50
[sst-devel-new:2903269] [ 0] /lib64/libpthread.so.0(+0x12ce0)[0x7fb4ca71cce0]
[sst-dev

[2022-11-04 20:13] mjleven commented on #879
[nohupOutFail.txt](https://github.com/sstsimulator/sst-core/files/9941636/nohupOutFail.txt)

[2022-11-08 14:58] #837 closed

[2022-11-08 14:58] #871 closed

[2022-11-08 14:58] #872 closed

[2022-11-10 20:11] pdbj opened #884 "-output-prefix-core="@t" causes a segment violation"
New Issue for sst-core
----------------------
1 - Detailed description of problem or enhancement

[code]

2 - Describe how to reproduce the issue

Add this to any otherwise working invocation: `--output-prefix-core=" foo @t"`

It doesn't seem to matter _where_ the `@t` is placed.

3 - What Operating system(s) and versions
NA

4 - What version of external libraries (Boost, MPI)
NA

5 - Provide sha1

[2022-11-10 20:14] feldergast commented on #884
Hmmm.  This happens when you use @t in calls to output that happen before a simulation object is created (i.e., there is not yet any time available).  I'll have to figure out how to special case this or change all the calls before time exists to ignore the prefix.

[2022-11-10 22:37] pdbj commented on #884
It works in my Components during the constructors, but I see that they print `0` for the time.

Better IMO to ignore the `@t`, or print `0`, rather than ignore the user-supplied prefix entirely.

I notice that not all verbose output uses the prefix (either default or user-supplied): `SSTPythonModel: ` in the above snippet.

[2022-11-10 23:16] feldergast commented on #884
Yea, the prefix only applies to the core’s Output object.  Any other object can set their own prefix.

[2022-11-11 00:06] pdbj commented on #884
That didn't come from my Python, but from the SST Python model parser. As a user I would consider that as part of the core...

[2022-11-22 13:55] PhilippKasgen opened #886 "Responses with F_FAIL are reported as successful"
https://github.com/sstsimulator/sst-core/blob/41d2df9e53505f19ddb117a1ff32190f9ef2010e/src/sst/core/interfaces/stdMem.h#L160

When the `F_FAIL` flag is set, `getSuccess()` will report true, since the `~` operator inverts bit-wise. A fix for this could be:

[code]